<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">
    Vibers Accounts
  </h1>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h5 class="m-0 font-weight-bold text-primary">
        All Vibers Accounts
      </h5>
    </div>
    <div class="card-body">
      <div *ngIf="available; then thenBlock; else elseBlock"></div>
      <ng-template #thenBlock>
        <div class="table-responsive">
          <div class="search-hero col-5 mt-3 mb-2">
            <input
              class="form-control"
              type="text"
              name="search"
              [(ngModel)]="searchText"
              autocomplete="off"
              placeholder="Search by name"
            />
          </div>

          <table
            class="table table-bordered table-hover table-small"
            width="100%"
            cellspacing="0"
          >
            <thead>
              <tr>
                <th style="width: 5%;">Avatar</th>
                <th style="width: 15%">Display Name</th>
                <th style="width: 15%">Email Address</th>
                <th style="width: 10%">Gender</th>
                <th style="width: 15%">Town</th>
                <th style="width: 15%">Province</th>
                <th style="width: 15%">Points</th>
                <th style="width: 15%">Events Rated</th>
                <th style="width: 10%">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let viber of vibers
                    | filter: searchText
                    | paginate: { itemsPerPage: 5, currentPage: p }
                "
              >
                <td>
                  <img
                    [src]="viber.photoUrl"
                    class="rounded"
                    width="50px"
                    height="50px"
                  />
                </td>
                <td>{{ viber.displayName }}</td>
                <td>{{ viber.emailAddress }}</td>
                <td>{{ viber.gender }}</td>
                <td>{{ viber.town }}</td>
                <td>{{ viber.province }}</td>
                <td>{{ viber.points }}</td>
                <td>{{ viber.rated }}</td>
                <td>
                  <!-- <span
                      data-toggle="modal"
                      data-target="#createOrderModal"
                      class=" btn btn-danger btn-sm mr-1"
                      ><i class="fa fa-trash" aria-hidden="true"></i
                    ></span> -->
                </td>
              </tr>
            </tbody>
          </table>

          <div class="row">
            <div class="col-12 mt-3 mb-3  text-center">
              <pagination-controls
                (pageChange)="p = $event"
              ></pagination-controls>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template #elseBlock>
        <h4>No vibers' accounts available</h4>
      </ng-template>
    </div>
  </div>
  <!-- /.container-fluid -->
</div>
