<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Events</h3>
      </div>

      <div class="title_right">
        <div
          class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search"
        >
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Search for..."
            />
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12">
        <div class="x_panel">
          <div class="x_content">
            <table class="table table-sm table-dark">
              <thead>
                <tr>
                  <th scope="col">Event Name</th>
                  <th scope="col">Category</th>
                  <th scope="col">Location</th>
                  <th scope="col">Date & Time</th>
                  <th scope="col">Status</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let event of events">
                  <td>{{ event.title }}</td>
                  <td>{{ event.category }}</td>
                  <td>{{ event.location }}</td>
                  <td>{{ event.date }}, {{ event.time }}</td>
                  <td>{{ event.status }}</td>
                  <td><span class="btn btn-sm btn-danger">delete</span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->
